<div class="cont">
  <h4>Ficha Técnica</h4>
  <p>Narrador: Marcos López
  Performers: Milva Leonardi, Rocío Mercado, Eugenia Roces, Braian Bre, Ramiro Cortez</p>

  <p>Dramaturgia: Gerardo Salinas <br>
  Desarrollo de aplicación digital: Fabrice Costa<br>
  Diseño sonoro: Nicolás Varchausky<br>
  Asistente de dirección: Corina Tate<br>
  Diseño de iluminación: Fernando Berreta<br>
  Escenografía: Ariel Vaccaro<br>
  Vestuario: Sandra Fink<br>
  Asistente de vestuario: Isabella Innocenzi<br>
  Realización de imágenes digitales: Ciro Zanela y Aarón Echevarría<br>
  Programador asistente: Ignacio Buioli<br>
  En el papel del hijo de M.L. Aarón Echevarría (el hijo de Marcos López)<br>
  Asistentes de sala Dorzong Fernandez Evans, Unai de Amorrortu,
  Federica Álvarez Gorelik, Malén Chittaro, Amparo
  Zucchino, Maite Pilar Otegui.<br>
  Idea y Dirección: Edgardo Mercado y Augusto Zanela</p>

  <p>Los conceptos vertidos por Marcos López durante la obra son adaptaciones
  de textos propios y entrevistas realizadas durante el desarrollo de la obra.
  Agradecemos su colaboración en la discusión de las ideas para las escenas.
  Durante la obra se proyectan las obras “ La Autopsia”, Buenos Aires, 2005,
  de Marcos López, &quot;La lección de anatomía del doctor Tulp&quot;, de Rembrandt Van
  Rijn (Países Bajos, 1606-1669) de 1632, la fotografía de la Exhibición del cadáver
  de Ernesto Che Guevara de Freddy Alborta (Bolivia, 1932- 2005), y animaciones
  basadas en las series de Eadweard Muybridge “Animal locomotion: an electro-
  photographic investigation of consecutive phases of animal movements”, 1872-
  1885.<br>
  Agradecemos la colaboración de la Dra. Mariana Volpi en la producción de
  la escena IV.<br>
  Esta obra cuenta con el apoyo de Mecenazgo Cultural – Buenos Aires Ciudad</p>
</div>
