<div class="cont">
  <h4>Ficha Técnica</h4>
  <p>
  <b>Narrador:</b> Marcos López<br>
  <b>Performers:</b> Milva Leonardi, Rocío Mercado, Eugenia Roces, Braian Bre, Ramiro Cortez</p>

  <p>
  <b>Dramaturgia:</b> Gerardo Salinas <br>
  <b>Desarrollo de aplicación digital:</b> Fabrice Costa<br>
  <b>Diseño sonoro:</b> Nicolás Varchausky<br>
  <b>Asistente de dirección:</b> Corina Tate<br>
  <b>Diseño de iluminación:</b> Fernando Berreta<br>
  <b>Escenografía:</b> Ariel Vaccaro<br>
  <b>Vestuario:</b> Sandra Fink<br>
  <b>Asistente de vestuario:</b> Isabella Innocenzi<br>
  <b>Realización de imágenes digitales:</b> Ciro Zanela y Aarón Echevarría<br>
  <b>Programador asistente:</b> Ignacio Buioli<br>
  <b>En el papel del hijo de M.L.:</b> Aarón Echevarría (el hijo de Marcos López)<br>
  <b>Asistentes de sala:</b> Dorzong Fernandez Evans, Unai de Amorrortu, Federica Álvarez Gorelik, Malén Chittaro, Amparo
  Zucchino, Maite Pilar Otegui.<br>
  <b>Idea y Dirección:</b> Edgardo Mercado y Augusto Zanela</p>

  <p>Los conceptos vertidos por Marcos López durante la obra son adaptaciones
  de textos propios y entrevistas realizadas durante el desarrollo de la obra.
  Agradecemos su colaboración en la discusión de las ideas para las escenas.
  Durante la obra se proyectan las obras “ La Autopsia”, Buenos Aires, 2005,
  de Marcos López, &quot;La lección de anatomía del doctor Tulp&quot;, de Rembrandt Van
  Rijn (Países Bajos, 1606-1669) de 1632, la fotografía de la Exhibición del cadáver
  de Ernesto Che Guevara de Freddy Alborta (Bolivia, 1932- 2005), y animaciones
  basadas en las series de Eadweard Muybridge “Animal locomotion: an electro-
  photographic investigation of consecutive phases of animal movements”, 1872-
  1885.<br><br>
  Agradecemos la colaboración de la Dra. Mariana Volpi en la producción de
  la escena IV.<br><br>
  Esta obra cuenta con el apoyo de Mecenazgo Cultural – Buenos Aires Ciudad</p>
</div>
