<div class="cont">
  <p>Obra de danza del coreógrafo Edgardo Mercado en colaboración con Augusto Zanela. Investigación sobre los efectos de la tecnología en la percepción de la obra de arte y de la obra escénica en particular, basados en el libro The Pencil of Nature, del pionero de la fotografía William Henry Fox Talbot. El espectáculo propone una interacción directa con los espectadores y sus dispositivos móviles que busca experimentar sobre lo oculto y lo revelado.</p>
  <b>Este espectáculo tiene escenas que se desarrollan en completa oscuridad y contiene desnudos.</b>
</div>
<div class="col">
  <img width="500" src="./assets/tera.jpg" class="img-fluid" alt="TeraVision Flyer">
</div>
