<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"
          (click)="isCollapsed = !isCollapsed"
          [ngClass]="{'collapsed': isCollapsed}"
          aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" routerLink="/">
              <img src="assets/LOGO_TERAVISION_3_48p.png" class="logo">
            </a>
            <span class="navbar-brand">{{title}}</span>
        </div>
        <div class="collapse navbar-collapse"
            (collapsed)="collapsed($event)"
            (expanded)="expanded($event)"
            [collapse]="isCollapsed"
            >
          <ul class="nav navbar-nav">
              <li routerLinkActive="active"><a routerLink="/about">
                ACERCA DE
              </a></li>
              <li routerLinkActive="active"><a routerLink="/credits">
                CREDITOS
              </a></li>
              <li routerLinkActive="active"><a routerLink="/difusion">
                DIFUSION
              </a></li>
              <li routerLinkActive="active"><a routerLink="/galeria">
                GALERIA
              </a></li>
          </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>

<footer>
  <a href="http://www.moldeointeractive.com.ar" target="blank">
    <img width="80" src="./assets/moldeo_interactive.png" alt="Moldeo Interactive" title="Moldeo Interactive" class="img-fluid">
  </a>
  <a href="http://moldeo.org" target="blank">
    <img width="70" src="./assets/moldeologo.png" alt="Moldeo.org" title="Moldeo.org" class="img-fluid">
  </a>
  <img width="80" src="./assets/mecenazgo.jpg" alt="mecenazgo" class="img-fluid img_left">
</footer>
