<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"
          (click)="isCollapsed = !isCollapsed"
          [ngClass]="{'collapsed': isCollapsed}"
          aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" routerLink="/">
              <img src="assets/LOGO_TERAVISION_3_48p.png" class="logo">
            </a>
            <span class="navbar-brand">{{title}}</span>
        </div>
        <div class="collapse navbar-collapse"
            (collapsed)="collapsed($event)"
            (expanded)="expanded($event)"
            [collapse]="isCollapsed"
            >
          <ul class="nav navbar-nav">
              <li routerLinkActive="active"><a routerLink="/about">
                ACERCA DE
              </a></li>
              <li routerLinkActive="active"><a routerLink="/credits">
                CREDITOS
              </a></li>
              <li routerLinkActive="active"><a routerLink="/fotos">
                FOTOS
              </a></li>
              <!--
              <li class="dropdown" dropdown>
                  <a dropdownToggle role="button">
                    Samples <span class="caret"></span></a>
                  <ul *dropdownMenu class="dropdown-menu">
                      <li><a href="#" (click)="loadsample($event,0)">Ejemplo 1</a></li>
                      <li><a href="#" (click)="loadsample($event,1)">Ejemplo 2</a></li>
                      <li><a href="#" (click)="loadsample($event,2)">Ejemplo 3</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#" (click)="loadsample($event,3)">Ejemplos 4</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#" (click)="loadsample($event,4)">Ejemplos 5</a></li>
                  </ul>
              </li>-->
          </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>

<footer>
  <img width="150" src="./assets/mecenazgo.jpg" alt="mecenazgo" class="img-fluid">
</footer>
<!--<app-threeviewer></app-threeviewer>-->
<!--<moldeocontrol></moldeocontrol>-->
<!--<ng-template #dynamic></ng-template>-->
<!--<moldeojs-view [mol]="this.sample"></moldeojs-view>-->
<!--router-outlet></router-outlet-->
<!--touch-component></touch-component-->
