img.logo {
  max-height: 48px;
}

.navbar {
  min-height: 72px !important;
  background:#145d88;
  color:#fff;
  border:0 solid #000;
  border-radius:0;
}

.navbar-brand {
  float: left;
  height: 70px;
  padding: 15px 15px;
  font-size: 20px;
  line-height: 40px;
  color:#fff;
  border:0 solid #000;
  border-radius:0;
}

.navbar-nav>li>a {
    line-height: 40px !important;
    color:#fff;
    background-color: transparent;
}
.img-fluid{
  max-width: 100%;
  height:auto;
}

.active{
  background: #1a3447 !important;
}
footer{
  margin-top:60px;
  height:200px;
  background:#145d88;
  text-align:right;
  padding:10px 10px 0 10px;
  border-top:1px solid #ccc;
  border:0 solid #000;
}
